<div class="list-container">

  <div class="list-header">
    <div class="list-title">
      <h3>List Name</h3>
      <h4>Total {{items.length}}</h4>
    </div>
    <div class="new-badge" *ngIf="newCounter">
      <span>{{newCounter}}</span>
    </div>
    <div class="list-title-spacer"></div>
    <button type="button" (click)="addListItem()">
      <i class="material-icons">add</i>
    </button>
    <button type="button" (click)="toggleContents()">
      <i class="material-icons">arrow_drop_down</i>
    </button>
  </div>

  <div class="list-content" *ngIf="displayContents">
    <app-list-item *ngFor="let item of items; let i = index" [item]="item" [index]="i" (deleteClick)="deleteListItem($event)"
      (newStatus)="handleNewCounter($event)"></app-list-item>
  </div>

  <div class="list-footer">
    <a href="#">Load more</a>
  </div>

</div>